<div class="containerChat">
    <h1 class="estiloTexto">Chat personal de <span class="estiloTexto" id="user"></span></h1>
    <hr>
    <div class="userAndInput">
        <input type="text" id="chatBox" class="inputChat">
    </div>
    <div id="messagesLogs"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>